.message {
  padding-block: 2px;
  line-height: var(--line-height-label);
  word-break: break-word;
}

.username {
  font-weight: var(--font-weight-semibold);
}

.body {
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
}

.emote {
  vertical-align: middle;
  display: inline-block;
}
